RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
Rewriterule ^checkTicket-(.+)-([0-9]+)$ 			checkTicket.php?active=$1&id=$2
Rewriterule ^inicio-(.+)$ 							inicio.php?active=$1
Rewriterule ^index-(.+)$ 							index.php?login=$1
Rewriterule ^../index-(.+)$ 						../index.php?email=$1
Rewriterule ^inicio_tracker-(.+)$ 					inicio_tracker.php?active=$1
Rewriterule ^nuevoTicket-(.+)$ 						addTicket.php?active=$1
Rewriterule ^tickets-sin-revisar-(.+)$ 				listTicketUnrevised.php?active=$1
Rewriterule ^tickets-revisados-(.+)$ 				listTicketClose.php?active=$1
Rewriterule ^usuarios-(.+)$ 						listUser.php?active=$1
Rewriterule ^departamentos-(.+)$ 					listDepartament.php?active=$1
Rewriterule ^sugerencias-(.+)$ 						listSuggestions.php?active=$1
Rewriterule ^agregarUsuario-(.+)$ 					addUser.php?active=$1
Rewriterule ^scripts/cerrarTicket-(.+)-([0-9]+)$ 	scripts/scriptCloseTicket.php?id=$1&idUser=$2
Rewriterule ^scripts/abrirTicket-(.+)-([0-9]+)$ 	scripts/scriptOpenTicket.php?id=$1&idUser=$2
Rewriterule ^scripts/autorizaTicket-(.+)-([0-9]+)$ 	scripts/scriptAutorizaTicket.php?id=$1&idUser=$2
Rewriterule ^scripts/desautorizaTicket-(.+)-([0-9]+)$ 	scripts/scriptDesautorizaTicket.php?id=$1&idUser=$2
Rewriterule ^editarUsuario-(.+)-([0-9]+)$ 			editUser.php?active=$1&id=$2
Rewriterule ^scripts/actDesUsuario-(.+)$ 			scripts/scriptActDesactUsuario.php?id=$1
Rewriterule ^scripts/resetUsuario-(.+)$ 			scripts/scriptResetUser.php?id=$1
Rewriterule ^usuariosPorDepartamento-(.+)-([0-9]+)$ listUserForDepartament.php?active=$1&id_departamento=$2
Rewriterule ^editarDepartamento-(.+)-([0-9]+)$ 		editDepartament.php?active=$1&id=$2
Rewriterule ^agregarDepartamento-(.+)$ 				addDepartament.php?active=$1
Rewriterule ^agregarSugerencia-(.+)$ 				addSuggestion.php?active=$1
Rewriterule ^filtrar-(.+)$ 							filterTicket.php?active=$1
Rewriterule reporte-pendientes						reporte.php